{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
	<h1>О нас</h1>
	<div class="row in-about">
		<div class="col">
			<p>Привет! Меня зовут Калашников Михаил. Я являюсь автором сайта этого приюта.</p>
			<p>Мы – их единственный шанс выжить и обрести новую жизнь. К сожалению, в нашей стране люди опасаются брать кошек из приютов. На самом деле любому по силам спасти животное из приюта и подарить ему новую жизнь, тепло, ласку, внимание! Поверьте, животные не останутся в долгу. Они подарят вам свою душу, сердце и станут самыми преданными вашими друзьями!</p>
		</div>
		<div class="col-4">
			<img src="../../static/img/author.jpg" height="auto" width="350" alt="photo of author">
		</div>
	</div>
{% endblock %}